#lista-de-baralhos {
    width: 300px;
    display: flex;
    gap: .7rem;
    overflow-x: scroll;
    scrollbar-width: none;
}

.item-baralho,
#btn-adicionar-baralho {
    min-width: 100px;
    height: 100px;
    padding: .5rem;
    border: 1px solid white;
    border-radius: 8px;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.item-baralho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #242424;
    color: #FFF;
}

.baralho-selecionado {
    background-color: #FFF;
    color: #242424;
}

.item-baralho:hover {
    background-color: #FFF;
    color: #242424;
}

.item-baralho::-webkit-scrollbar {
    display: none;
}

.item-baralho svg {
    font-size: 24px;
}

#btn-adicionar-baralho {
    font-size: 1.5rem;
    background-color: #FFF;
    color: #242424;
}

#btn-adicionar-baralho:hover {
    background-color: #242424;
    color: #FFF;
}